
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Bubblegum+Sans&display=swap');
 
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Bubblegum Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../image/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 100%;
    padding: 0 20px;
}
.todo-list {
    width: 100%;
    max-width: 600px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 200px;
    border: 5px solid rgba(91, 127, 255, 0);
    backdrop-filter: blur(3px);
}
.todo-list h1 {
    font-size: 2rem;
}
.input-area {
    display: flex;
    justify-content: space-between;
    align-items: center;   
    width: 100%;
}
.input-area input {
    flex: 1;
    padding: 10px 17px;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: rgba(172, 240, 252, 0.5);
    color: #fff;
    
}
.input-area input::placeholder {
    color: #ffffff;
}

.input-area input[type="date"]{
    flex: 1;
    padding: 10px 17px;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: rgba(172, 240, 252, 0.5);
    color: #fff;
    margin-left: 15px;
}

.input-area input[type="date"]:hover {
    transform: scale(1.1);
    background: #2da0d4;
}

.filter-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.filter-buttons button {
    padding: 5px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filter-buttons button.active {
    background-color: #4f46e5;
    color: white;
}

.input-area button  {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    padding: 8px;
    border-radius: 30%;
    color: #ffffff;
    font-size: 1rem;
    background-color: rgba(172, 240, 252, 0.5);
    outline: none;
    border: 2px solid rgba(190, 242, 252, 0.719);
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.input-area button:hover {
    transform: scale(1.1);
    background: #2da0d4;
}
.todo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 0;
}

#task-text {
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis   
}

#task-list {
    width: 100%;
}
#task-date {
    display: flex;
    font-size: 1rem;
    gap: 20px;
    color: rgb(255, 255, 255);
}
#task-list li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(190, 242, 252, 0.822);
    margin-bottom: 10px;
    padding: 8px 10px;
    border-radius: 28px;
    font-size: 1rem;
    color: #1b2affa8;
    position: relative;
    transition: box-shadow 0.2s ease-in;
}

#task-list li:hover {
    box-shadow: 0 0 10px rgba(172, 240, 252, 0.5);

}

#task-list li .checkbox {
    min-width: 20px;
    height: 20px;
    border: 2px solid rgba(8, 27, 80, 0.438);
    outline: none;
    background: transparent; 
    border-radius: 50%;
    appearance: none;
    cursor: pointer;
    transition: all 0.2s ease-in;
    align-items: center;
    justify-content: center;
    
}

#task-list li .checkbox:checked {
    background: #0c2885c5;
    transform: scale(1.1);
   
}
#task-list li .checkbox:checked::before {
    content: '\2713';
    color: #ffffff;
    display: flex ;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;

}
#task-list li span {
    flex: 1;
    margin-left: 10px;
    word-wrap: break-word;
}

.task-buttons {
     display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}
.task-buttons button {
    background: rgba(190, 242, 252, 0.719);
    border: none;
    border-radius: 45%;
    width: 27px;
    height: 27px;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;

}
.task-buttons button:hover {
    transform: scale(1.1);
}
.task-buttons .edit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #6287ffb6;
    position: relative;
    width: 36px;
    height: 36px;
    flex-shrink: 0;
}
.task-buttons .delete-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1b2affa8;
    position: relative;
    width: 36px;
    height: 36px;
    flex-shrink: 0;
}

.completed .task-text {
    text-decoration: line-through;
    opacity: 0.7;}