
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Bubblegum+Sans&display=swap');
 
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Bubblegum Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../image/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 20px;
}
.todo-list {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 200px;
    border: 5px solid rgba(91, 127, 255, 0);
    backdrop-filter: blur(3px);
}
.todo-list h1 {
    font-size: 2rem;
}
.input-area {
    display: flex;
    justify-content: space-between;
    align-items: center;   
    width: 100%;
}
.input-area input {
    flex: 1;
    padding: 10px 17px;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: rgba(172, 240, 252, 0.5);
    color: #fff;
}
.input-area input::placeholder {
    color: #ffffff;
}
.input-area button  {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    padding: 8px;
    border-radius: 30%;
    color: #ffffff;
    font-size: 1rem;
    background-color: rgba(172, 240, 252, 0.5);
    outline: none;
    border: 2px solid rgba(190, 242, 252, 0.719);
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.input-area button:hover {
    transform: scale(1.1);
    background: #2da0d4;
}
.todo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
#task-list {
    width: 100%;
}
#task-list li{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(190, 242, 252, 0.822);
    margin-bottom: 10px;
    padding: 8px 10px;
    border-radius: 28px;
    font-size: 1rem;
    color: #ffffff;
    position: relative;
    transition: box-shadow 0.2s ease-in;
}

#task-list li:hover {
    box-shadow: 0 0 10px rgba(172, 240, 252, 0.5);

}

#task-list li .checkbox {
    min-width: 15px;
    height: 15px;
    border: 2px solid rgba(108, 177, 189, 0.479);
    outline: none;
    background: transparent; 
    border-radius: 50%;
    appearance: none;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

#task-list li.checkbox:checked {
    background: #b2c2f7;
    transform: scale(1.1);
}
#task-list li .checkbox:checked::before {
    content: '\2713';
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;

}